replicaCount: 2
image:
  repository: dimozone/telemetry-api
  pullPolicy: IfNotPresent
  tag: 0.1.31
cronJob:
  enabled: false
  schedule: 0 0 * * 0
podAnnotations:
  config.linkerd.io/proxy-cpu-request: '1'
  config.linkerd.io/proxy-cpu-limit: '2'
  config.linkerd.io/proxy-memory-request: 1024Mi
  config.linkerd.io/proxy-memory-limit: 2048Mi
  config.linkerd.io/proxy-log-level: info
env:
  PORT: 8080
  MON_PORT: 8888
  ENABLE_PPROF: false
  TOKEN_EXCHANGE_JWK_KEY_SET_URL: http://dex-roles-rights-prod.prod.svc.cluster.local:5556/keys
  TOKEN_EXCHANGE_ISSUER_URL: https://auth-roles-rights.dimo.zone
  VEHICLE_NFT_ADDRESS: '0xbA5738a18d83D41847dfFbDC6101d37C69c9B0cF'
  MANUFACTURER_NFT_ADDRESS: '0x3b07e2A2ABdd0A9B8F7878bdE6487c502164B9dd'
  FETCH_API_GRPC_ENDPOINT: fetch-api-prod:8086
  CREDIT_TRACKER_ENDPOINT: credit-tracker-prod:8086
  IDENTITY_API_URL: http://identity-api-prod:8080/query
  IDENTITY_API_REQUEST_TIMEOUT_SECONDS: 5
  DEVICE_LAST_SEEN_BIN_HOURS: 3
  DIMO_REGISTRY_CHAIN_ID: 137
  STORAGE_NODE_DEV_LICENSE: '0x49eAf63eD94FEf3d40692862Eee2C8dB416B1a5f'
ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/auth-tls-secret: ingress/cf-origin-ca
    nginx.ingress.kubernetes.io/auth-tls-verify-client: 'on'
    nginx.ingress.kubernetes.io/enable-cors: 'true'
    nginx.ingress.kubernetes.io/cors-allow-origin: '*'
    nginx.ingress.kubernetes.io/limit-rps: '50'
    external-dns.alpha.kubernetes.io/hostname: telemetry-api.dimo.zone
  hosts:
    - host: telemetry-api.dimo.zone
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
resources:
  limits:
    cpu: 2
    memory: 8Gi
  requests:
    cpu: 0.25
    memory: 4Gi
autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 64
  targetMemoryUtilizationPercentage: 100
  targetCPUUtilizationPercentage: 600
nodeSelector: {}
tolerations: []
affinity: {}
podDisruptionBudget:
  minAvailable: 1
kafka:
  clusterName: kafka-prod-dimo-kafka
